<% content_for :title do %>
  Share
<% end %>
<div class="grid-x grid-margin-x">
  <div class="cell">
    <h1>Share Your Memory</h1>
  </div>
  <div class="cell">
    <%= form_for @media, url: { action: "create" } do |f| %>
      <div class="grid-x grid-margin-x">
        <div class="cell small-12">
          <fieldset class="fieldset">
            <legend>Event</legend>
            <div class="grid-x grid-margin-x">
              <div class="medium-6 cell">
                <%= f.radio_button(:event_name, "sangeet") %>
                <%= label_tag(:event_name_sangeet, "Sangeet") %>
              </div>
              <div class="medium-6 cell">
                <%= f.radio_button(:event_name, "wedding") %>
                <%= label_tag(:event_name_wedding, "Wedding") %>
              </div>
            </div>
          </fieldset>
        </div>
        <div class="cell small-12">
          <fieldset class="fieldset">
            <legend>Who can we thank for sharing a memory with us?</legend>
            <div class="grid-x grid-margin-x">
              <div class="medium-6 cell">
                <%= f.text_field :uploaded_by_name, placeholder: "Name (optional)" %>
              </div>
              <div class="medium-6 cell">
                <%= f.text_field :uploaded_by_email, placeholder: "Email (optional)" %>
              </div>
              <div class="cell">
                <%= f.check_box(:display_uploaded_by, {}, true) %>
                <%= label_tag(:display_uploaded_by, "May we credit you in our album? (optional)") %>
              </div>
            </div>
        </div>
        <div class="cell large-12">
          <fieldset class="fieldset">
            <legend>And now the good stuff</legend>
            <div class="grid-x grid-margin-x">
              <div class="cell medium-6">
                <%= f.text_field :caption, placeholder: "Caption (optional)" %>
              </div>
              <div class="cell medium-6">
                <div class="grid-x grid-margin-x">
                  <div class="cell medium-6">
                    <div class="image-upload">
                      <label for="file-input">
                        <div class="upload-button button">Upload</div>
                      </label>
                      <%= f.file_field :attachment, multiple: false, direct_upload: true, id: "file-input", class: "button" %>
                    </div>
                  </div>
                  <div class="cell small-6 medium-4">
                    <div class="attached-file">Nothing selected</div>
                  </div>
                  <div class="cell small-6 medium-2">
                    <a class="delete-file hide button hollow">Delete</a>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
        </div>
        <div class="cell">
          <div class="grid-x grid-margin-x">
            <div class="cell">
              <%= f.submit "Share", class: "button" %>
              <%= link_to "Reset", new_medium_path(reset: true), class: "button hollow" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
